//-------------- BR Cobane ---------------
@font-face {
  font-family: "Yekan-B";
  src: url("../fonts/B\ Yekan_0.ttf") format("opentype");
}
@font-face {
  font-family: "Yekan";
  src: url("../fonts/BYekan+.ttf") format("opentype");
}
