//colors

$GreenW1: #606c38;
$GreenW2: #283618;
$Light: #ffffff;
$LightW1: #fffdec;
$YellowW1: #dda15e;
$YellowW2: #bc6c25;

//font size

$XlSize: 18px;
$LgSize: 16px;
$MdSize: 14px;
$SmSize: 12px;
$XsSize: 10px;
